---
title: "Secure Software Development Verification and More Specialized Topics"
tags:
  - Developer (Role)
  - OSPO (Role)
  - Product Manager (Role)
  - Security Expert (Role)
---

## Synopsis

This course is designed to show you how to verify software for security, and gives you the chance to take a deeper dive into the basics of applying threat models and cryptography.

## Details


- Publisher: Linux Foundation
- Code: LFD106x
- Length: 5-6 hours
- Certification: Digital
- Cost: 0
- Link: https://training.linuxfoundation.org/training/secure-software-development-verification-and-more-specialized-topics-lfd106/
