---
title: "Secure Software Development Verification and More Specialized Topics"
tags:
  - Training
  - LF-Training
course:
  publisher: Linux Foundation
  code: LFD106x
  length: 5-6 hours
  certification: Digital
  cost: free
  link: https://training.linuxfoundation.org/training/secure-software-development-verification-and-more-specialized-topics-lfd106/
sidebar_label: LFD106x
list_image: /img/bok/page-types/training2.png
---

This course is designed to show you how to verify software for security, and gives you the chance to take a deeper dive into the basics of applying threat models and cryptography. This is part of LFD121.

## Details

<CourseDetails course={frontMatter.course}/>
