---
title: "Secure Software Development Verification and More Specialized Topics"
tags:
  - Developer (Role)
  - OSPO (Role)
  - Product Manager (Role)
  - Security Expert (Role)
  - Training
  - LF-Training
course:
  publisher: Linux Foundation
  code: LFD106x
  length: 5-6 hours
  certification: Digital
  cost: 0
  link: https://training.linuxfoundation.org/training/secure-software-development-verification-and-more-specialized-topics-lfd106/

---

## Synopsis

This course is designed to show you how to verify software for security, and gives you the chance to take a deeper dive into the basics of applying threat models and cryptography.

## Details

<CourseDetails course={frontMatter.course}/>
