
/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/css/fonts/lexend/lexend-latin-300-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/css/fonts/lexend/lexend-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/css/fonts/lexend/lexend-latin-600-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/css/fonts/lexend/lexend-latin-700-normal.woff2) format('woff2');
}
 
:root {
  --ifm-color-primary: #4080d0;
  --ifm-color-primary-dark: #3072c4;
  --ifm-color-primary-darker: #2e6cba;
  --ifm-color-primary-darkest: #265999;
  --ifm-color-primary-light: #568fd5;
  --ifm-color-primary-lighter: #6196d8;
  --ifm-color-primary-lightest: #81ace0;
  --ifm-font-family-base: "Lexend";
  --ifm-font-weight-normal: 300;
  --ifm-font-size-base: 90%;
}

html[data-theme='light'] {
  --ifm-color-primary: #d03860;
  --ifm-color-primary-dark: #c02d54;
  --ifm-color-primary-darker: #b62b4f;
  --ifm-color-primary-darkest: #952341;
  --ifm-color-primary-light: #d54d71;
  --ifm-color-primary-lighter: #d8587a;
  --ifm-color-primary-lightest: #d8587a;
  --ifm-footer-background-color: #ffffff; 
}  

html[data-theme='light'] .footer-strap {
  font-weight: bold;
  color:  #ffffff;
}

html[data-theme='light'] .navbar-sidebar__item {
	background-color: white;
}

html[data-theme='light'] .footer-copyright {
  color: #dddddd;
  font-size: smaller;
}



/** 
 * Used for styling introduction / front pages
 */

div.page-container {
	padding-left: 3rem;
	padding-right: 3rem;
	max-width: 100rem;
	margin: auto;
} 
 
div.frontPageContent {
	display: flex;
    flex-wrap: wrap;
	gap: 1rem;
}

.frontPageContent > div  {
	flex-basis: 40rem;
	flex-grow: 1;
    
}

/**
 * Footer separation 
 */
footer {
	border-top: 1px solid #eee;
}

/**
 * Change font to DIDOT.
 */