.level {
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	font-size: smaller;
}

.levelIdentifier {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	margin: 10px;
	padding: 10px;
	align-items: center;
	flex-basis: 150px;
	flex-shrink: 0;
}

.levelIdentifier img {
	width: 100px;
	padding-bottom: 5px;
	;
}

.levelContent {
	display: flex;
	flex-direction: column;
}

.divider {
	display: flex;
	flex: 1;
	flex-shrink: 1;
	flex-grow: 1;
}

.checklistSummary {
	display: flex;
	flex-direction: column;
}
