.checklistOutline {	
	border: 1px solid black;
	border-radius: 1rem;;
	font-size: .5rem;
	max-width: 55rem;
	padding: 1rem
}

h4 {
	font-size: .6rem;
}

.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
	justify-content: center;
	
}

.banner img {
	width: 3rem;
}


.checklistSummary {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
	grid-template-rows: auto auto auto auto auto; 
	gap: .5rem;
	overflow: hidden;
}

.level {
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	border-radius: .5rem;
	align-items: center;
	flex-basis: 10rem;
	flex-shrink: 0;
}

.level img {
	padding-bottom: .5rem;
	margin-bottom: auto;
	height: 5rem;
}

.square {
	display: flex;
	flex-direction: column;
}

.detail {
	align-items: center;
	text-align: center;
	overflow: hidden;
	flex-basis: 2rem;
	flex-grow: 1;
}

.items a {
	color: black;
}

.score {
	margin: 0;
	font-size: 2rem;
	margin-bottom: auto;
	flex-basis: 3rem;
	flex-grow: 0;
	text-align: center;
}

.name {
	flex-basis: 2rem;
	padding: .5rem;
	text-align: center;	
}

.name a {
	color: black;
	font-weight: bold;
	
}

.items {
	padding: .1rem;
	list-style: none;
}

.items li {
	text-align: center;
	padding: .2rem;
}