.level {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	font-size: smaller;
}

.level>div {
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	border-radius: .5rem;
	margin: .5rem;
	padding: .4rem;
	align-items: center;
	flex-basis: 10rem;
	flex-shrink: 0;
}

.levelIdentifier img {
	width: 10rem;
	padding-bottom: 1rem;
}

.level>.countRect {
	flex-basis: 10rem;
	flex-shrink: 1;
	flex-grow: 1;
	justify-content: space-between;
}

.detail {
	align-items: center;
	text-align: center;

}

.score {
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
	font-size: 2rem;
	margin-bottom: auto;
}

.divider {
	display: flex;
	flex: 1;
	flex-shrink: 1;
	flex-grow: 1;
}


.unaware {
	background-color: #00000080;
	color: white;
}

.initial {
	background: #88000080;
}

.managed {
	background: #66664480;
}

.defined {
	background: #88884480;
}

.quantitative {
	background: #44884480;
}

.optimised {
	background: #00AA0080;
}

.name a {
	color: black;
	font-weight: bold;
}

ul.items {
	padding: 1rem;
	list-style: none;
}

ul.items li {
	text-align: center;
	padding: .2rem;
}