.checklist {
	border: 1px solid lightgray;
	border-radius: 1rem;
	margin: 2rem 0rem;
}

.header {
	display: flex;
	padding-bottom: 1rem;
	align-items: center;
	margin: 0;
	padding: 2rem 2rem 1rem 2rem;
}

.header h3 {
	padding: 0;
	padding-left: 2rem;
	margin: 0;
}

.icon {
	width: 5rem;
	padding: 0rem;
	margin: 0rem;
}


.checklistBody {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
	gap: 1rem;
}


.checklistItem>div {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

/** Control Side */

.control {
	flex-basis: 15rem;
	flex-grow: 0;
	flex-shrink: 0;
	padding: .3rem;
	display: flex;
}

.control input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 2rem;
}


/* Thumb: Chrome (from https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/) */


.control input[type="range"]::-moz-range-track {
	height: 2.5rem;
	border-radius: 2.5rem;
}

.control input[type="range"]::-webkit-slider-runnable-track {
	height: 2.5rem;
	border-radius: 2.5rem;
}

.control input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #fff;
	border-radius: 50%;
}

.control input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #fff;
	border-radius: 50%;
}


.unaware input::-webkit-slider-thumb {
	border: 5px solid black;
}

.initial input::-webkit-slider-thumb {
	border: 5px solid #880000;
}

.managed input::-webkit-slider-thumb {
	border: 5px solid #666644;
}

.defined input::-webkit-slider-thumb {
	border: 5px solid #888844;
}

.quantitative input::-webkit-slider-thumb {
	border: 5px solid #448844;
}

.optimised input::-webkit-slider-thumb {
	border: 5px solid #00AA00;
}

.unaware input::-webkit-slider-runnable-track {
	background: #00000080;
}

.initial input::-webkit-slider-runnable-track {
	background:  #88000080;
}

.managed input::-webkit-slider-runnable-track {
	background: #66664480;
}

.defined input::-webkit-slider-runnable-track {
	background: #88884480;
}

.quantitative input::-webkit-slider-runnable-track {
	background: #44884480;
}

.optimised input::-webkit-slider-runnable-track  {
	background:  #00AA0080;
}

.unaware input[type="range"]::-moz-range-thumb {
	border: 5px solid black;
}

.initial input[type="range"]::-moz-range-thumb {
	border: 5px solid #880000;
}

.managed input[type="range"]::-moz-range-thumb {
	border: 5px solid #666644;
}

.defined input[type="range"]::-moz-range-thumb {
	border: 5px solid #888844;
}

.quantitative input[type="range"]::-moz-range-thumb {
	border: 5px solid #448844;
}

.optimised input[type="range"]::-moz-range-thumb {
	border: 5px solid #00AA00;
}

.unaware input[type="range"]::-moz-range-track  {
	background: #00000080;
}

.initial input[type="range"]::-moz-range-track  {
	background:  #88000080;
}

.managed input[type="range"]::-moz-range-track  {
	background: #66664480;
}

.defined input[type="range"]::-moz-range-track  {
	background: #88884480;
}

.quantitative input[type="range"]::-moz-range-track {
	background: #44884480;
}

.optimised input[type="range"]::-moz-range-track  {
	background:  #00AA0080;
}


/** Label Side */

.label {
	flex-basis: 10rem;
	flex-grow: 1;
}

.label label {
	font-weight: bold;
	align-items: center;
}

.description {
	padding-top: .5rem;
	padding-bottom: .5rem;
	color: #555;
	font-size: smaller;
}

/** Different Levels of Maturity get different colors */

.nameLabel {
	padding: .4rem;
	border-radius: .2rem;
}

.unaware .nameLabel {
	color: white;
	background-color: black;
}

.initial .nameLabel {
	color: white;
	background-color: #880000;
}

.managed .nameLabel {
	color: white;
	background-color: #666644;
}

.defined .nameLabel {
	color: white;
	background-color: #888844;
}

.quantitative .nameLabel {
	color: white;
	background-color: #448844;
}

.optimised .nameLabel {
	color: white;
	background-color: #00AA00;
}

.unaware .valueDescription {
	color: black;
}

.initial .valueDescription {
	color: #880000;
}

.managed .valueDescription {
	color: #884444;
}

.defined .valueDescription {
	color: #888844;
}

.quantitative .valueDescription {
	color: #448844;
}

.optimised .valueDescription {
	color: #00AA00;
}